
# macOS
.DS_Store

# Xcode
build/
DerivedData/
*.xcuserstate
*.xcworkspace/xcuserdata/
*.xcuserdatad/
*.xccheckout
*.xcscmblueprint

# SwiftPM
.build/
Packages/
Package.resolved

# CocoaPods (if ever used)
Pods/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots

# Carthage (if ever used)
Carthage/Build/

# Archives
*.ipa
*.dSYM.zip
*.dSYM

# Logs
*.log

