.DS_Store
DerivedData/
*.xcuserstate
*.xccheckout
*.xcscmblueprint
build/
*.ipa
.build/
Package.resolved
Pods/
Carthage/Build/
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output

*.env
Secrets.plist
