<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>google</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.373788724739-66tb9ar3u0mff2b2rt5vmevi8vu9allj</string>
			</array>
		</dict>
	</array>
	<key>POSTHOG_HOST</key>
	<string>https://us.i.posthog.com</string>
	<key>POSTHOG_API_KEY</key>
	<string>phc_pgEUTqLhAEW3gyJvQ5UtikUSjmWrvwDm2WftgxEdYSxy</string>
	<key>GADApplicationIdentifier</key>
	<string>ca-app-pub-8163977681153105~4737599234</string>
	<key>GIDClientID</key>
	<string>373788724739-66tb9ar3u0mff2b2rt5vmevi8vu9allj.apps.googleusercontent.com</string>
	<key>GIDServerClientID</key>
	<string>373788724739-6t4csha8enhss8bsm9o4nh7ma5ad66co.apps.googleusercontent.com</string>
	<key>TENOR_API_KEY</key>
	<string>$(TENOR_API_KEY)</string>
	<key>UIBackgroundModes</key>
	<array/>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundleDisplayName</key>
	<string>Chatforia</string>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
</dict>
</plist>
